

body {
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto', 'Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans', 'Helvetica Neue',sans-serif;
  font-size: 15px;
  font-weight: 400;
  direction: ltr;
  font-feature-settings: 'kern';
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  color: #131827; 
  background: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #131827; 
}

p {
  font-size: 14px;
  color: #131827;
}
a {
  text-decoration: none !important;
  color: hsla(349, 87%, 58%, 1);
}

a:hover {
  color: hsla(349, 97%, 62%, 1);
}

::selection {
  background:  hsla(349, 97%, 62%, 1); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background:  hsla(349, 97%, 62%, 1); /* Gecko Browsers */
}

a:focus {
  color: hsla(349, 87%, 52%, 1);
}

h2.page-title{
  font-weight: 400;
  text-align: center;
}

.main-container {
  max-width: 900px;
  margin: auto;
  padding: 0 10px;
}
.input-error {
  color: red;
  font-size: 12px;
}
.gray {
  color: rgba(0,0,0,0.4);
}
.raised-card {
  background: white;
  /*max-width: 600px;*/
  text-align: center;
  margin: auto;
  margin-top: 30px;
  padding: 30px 10px;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 4px;
  box-shadow: 5px 10px 25px rgba(0,0,0,0.04);
}

.email-input-form{
  max-width: 300px;
  margin: auto;
  margin-top: 30px;
  padding: 0 10px;
  height: 32px;
  position: relative;
  display: flex;
}

form {
  width: 100%;
}

.email-thank-you {
  width: 100%;
  margin: 0;
  margin-top: 5px;
}

.navbar {
  max-width: 900px;
  margin: 0 auto;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.navbar .navbar-link {
  text-transform: uppercase;
  font-size: 12px;
}

.stripe-card-input {
  background-color: white;
  padding: 7px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all .3s;
  height: 32px;
  font-size: 14px;
  line-height: 1.5;
}

.stripe-card-input input::after {
  color: red;
}
.stripe-card-input:hover {
  border-color: #40a9ff;
}

.stripe-card-input.StripeElement--focus {
  border-color: #40a9ff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  border-right-width: 1px !important;
}

.dropdown-link a,
.dropdown-link button{
  text-transform: capitalize;
  font-size: 14px;
  color: rgb(153, 153, 153);
  display: block;
  cursor: pointer;
  width: 100%;
  padding: 8px 20px;
}

.dropdown-link a:hover,
.dropdown-link button:hover{
  background-color: #fafafa;
  color: black;
}

.ant-popover-inner-content {
  min-width: 200px;
  padding-left: 0;
  padding-right: 0;
}

.link-button {
  border:none;
  background:none;
  padding:0;
  text-align:left; 
}

.ant-table-small {
  border: none;
}

.ant-input {
  font-size: 15px;
}
.section {
  box-shadow: 5px 10px 25px rgba(0,0,0,0.04);
  background-color: white;
  margin: 15px auto;
  max-width: 700px;
  border: 1px solid rgb(234,234,234);
  border-radius: 4px;
  font-size: 12px;
  overflow: hidden;
}

.section .list-body {
  padding: 20px;
}

.section .list-body .main-input {
  width: 300px;
  max-width: 100%;
  margin-top: 15px;
}
.section .list-item {
  border-top: 1px solid rgb(234,234,234);

}

.section .list-item.content,
.section .list-item a{
  border-top: 1px solid rgb(234,234,234);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.section .list-item:first-child,
.section .list-item a:first-child{
  border: none;
}

.section .list-item a{
  color: #484848;
  cursor: pointer;
}

.section .list-item a:hover,
.section .list-item a:hover .gray {
  background-color: #fafafa;
  /*color: hsla(349, 87%, 58%, 1);*/
}

.section .list-item a:active,
.section .list-item a:active .gray {
  background-color: #fff;
  transform: scale(0.99);
}


.section .list-item.input {
  /*background-color: #fafafa;*/
}

.section .list-item.input form{
  display: flex;
  max-width: 500px;
  margin: auto;
}

.section .list-item .prefix{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  /*background-color: rgb(234,234,234);*/
}


.section .list-item .body{
  flex-grow: 1;
  padding: 0 20px;
}
/*.link-list {
  background-color: white;
  border: 1px solid rgb(234,234,234);
}*/
.static-notification {
  font-size: 14px;
  color: white;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: space-between;
  line-height: 16px;
  max-width: 900px;
  padding: 10px;
  background: #1F2833;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-image: initial;
  margin: 0 auto;
  margin-bottom: 30px;
  min-height: 45px;
}

.ant-btn-primary {
  background-color: hsla(349, 87%, 58%, 1);
  border-color: hsla(349, 87%, 58%, 1);
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.ant-btn-primary:hover{
  color: white !important;
  background-color: hsla(349, 97%, 62%, 1);
  border-color: hsla(349, 97%, 62%, 1);
}

.ant-btn-primary:focus{
  color: white !important;
  background-color: hsla(349, 87%, 52%, 1);
  border-color: hsla(349, 87%, 52%, 1);
}

.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
  color: hsla(349, 87%, 52%, 1);
  border-color: hsla(349, 87%, 52%, 1);
}
.ant-input:hover {
  border-color: hsla(349, 87%, 58%, 1);
}
.ant-input:focus {
  border-color: hsla(349, 87%, 58%, 1);
  -webkit-box-shadow: 0 0 0 2px hsla(349, 87%, 62%, 0.2);
  box-shadow: 0 0 0 2px hsla(349, 87%, 62%, 0.2);
}

.ant-input-group-addon {
  background: hsla(349, 87%, 58%, 1);
  border-color: hsla(349, 87%, 58%, 1);
  color: white;
  cursor: default;
}
.ant-collapse-header {
  line-height: 40px !important;
  font-weight: 600 !important;
  font-size: 20px;
}
.ant-collapse-item:hover {
  background-color: white !important;
}
.ant-collapse-item-active {
  background: white !important;
}   

